/*Setups*/
/*---------------------------------------------------------------------------------------------*/
html {
    font-size: 7%;
}


:root {
    --shadow-gap: 0.02em;
}
/*---------------------------------------------------------------------------------------------*/
/* TopBar Styles */
/*---------------------------------------------------------------------------------------------*/


.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0rem;
    
    z-index: 999;
    background-color: #464646;
}

.pageTitleText{
    background-color: rgba(0, 0, 0, 0);
    border:0rem;
    border-bottom: 5rem solid #82FF00;
    font-size: 50rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color:#82FF00;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 4) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 6) 0rem #82FF00;
    margin:40rem;
    margin-top:0rem;
    margin-bottom:0rem;
    padding:10rem;
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}
.pageTitleText:hover {
    background-color: #82FF00;
    color:black;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem black,
        0rem calc(var(--shadow-gap) * 4) 0rem black,
        0rem calc(var(--shadow-gap) * 6) 0rem black;
    
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}

.homeButton{
    background-color: #82FF00;
    
    font-size: 50rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color:black;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem black,
        0rem calc(var(--shadow-gap) * 4) 0rem black,
        0rem calc(var(--shadow-gap) * 6) 0rem black;
    margin:0rem;
    padding:10rem;
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}
.homeButton:hover {
    background-color: #ffffff;
    color:black;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem black,
        0rem calc(var(--shadow-gap) * 4) 0rem black,
        0rem calc(var(--shadow-gap) * 6) 0rem black;
    
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}


/*---------------------------------------------------------------------------------------------*/
/* Body Styles */
/*---------------------------------------------------------------------------------------------*/


body {
    background-color: #AAAAAA;
    background-image: url('');
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    color:#82FF00;
    margin: 0rem;
    
    
    

}


/* background Image */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("assets/googiebuildingtexturedoutside1.jpg");
    transform: scaleX(-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    filter: grayscale(100%) blur(50rem); /* grayscale and blurfilter */
    transition: filter 2s ease;
    
    z-index: -1; /* place behind all content */
}
body:hover::before { 
    filter: grayscale(100%) 
    blur(10rem); 
    transition: filter 2s ease;
}



/*---------------------------------------------------------------------------------------------*/
/* Title Styles */
/*---------------------------------------------------------------------------------------------*/
.title { 
    margin-top: 150rem; 
    
}
.normalTitleContainer{
    margin-top: 280rem;
}
.normalTitle{
    color:#82FF00;
    font-size: 180rem;
    padding:0rem;
    margin:0rem;
    margin-top:-30rem;
    margin-bottom:30rem;
    border:none;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 200;

    text-shadow:
        0rem calc(var(--shadow-gap) * 1) 0rem #82FF00,    
        0rem calc(var(--shadow-gap) * 2) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 3) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 4) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 5) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 6) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 7) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 8) 0rem #82FF00;
}


h1.FancyTitle {
    color:#82FF00;
    font-size: 250rem;
    padding:0rem;
    margin:0rem;
    margin-top:-50rem;
    
    border:none;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}


/*Fancy Title Effect*/
/*shifted shadow*/
h1.FancyTitle {
    

    text-shadow:
        
        0rem calc(var(--shadow-gap) * 4) 0rem #82FF00;
        /*add as many you want*/
        
        
}
h2.SubtitleText {
    font-size: 50rem;
    
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-align: left;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 4) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 6) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 8) 0rem #82FF00;
    /*artistic*/
    margin:0rem;
    margin-top:20rem;
    padding:10rem;
    padding-top:20rem;
    background-color: #464646;
    border-bottom: 5rem solid #82FF00
}
/*I do not know why h2 always overrides subtitle class so I had to put it here, solve it later*/


/*---------------------------------------------------------------------------------------------*/
/*displaybox Styles */
/*---------------------------------------------------------------------------------------------*/
.displayBoxStripImageOnly {
    padding: 20rem 0;
    padding-top:40rem;
    padding-bottom:40rem;
    display: flex;
    gap: 20rem; /*space between images*/
    overflow-x: auto; 
    

    /*artistic*/
    background-color: #5b5b5b;

    /*fancy scroll*/
    overflow-x: auto; 
    white-space: nowrap; 
    scroll-behavior: smooth;
}

.displayBoxStripImageOnly img {
    height: 400rem; /*restrict image height*/
    width: auto;  /*auto wid*/
    object-fit: cover; 
    filter: grayscale(100%);
    transition: filter 1s ease;
}
.displayBoxStripImageOnly img:hover {
    filter: grayscale(0%);
    transition: filter 1s ease;
}



/*silly customization for scrollbar slider*/
.displayBoxStripImageOnly::-webkit-scrollbar {
    height: 10rem;
    
}

.displayBoxStripImageOnly::-webkit-scrollbar-thumb {
    background: #82FF00;
    border-radius: 6rem;
}

.displayBoxStripImageOnly::-webkit-scrollbar-track {
    background: #333;
    padding-bottom: 10rem;
}

/*---------------------------------------------------------------------------------------------*/
/*large Image Display Box*/
.largeImageDisplayGrid {
    display: flex;
    align-items: flex-start;
}

.largeImageBox {
    padding: 20rem;
    background-color: #5b5b5b;
    margin: 20rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 20rem;
    text-align: center;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 4) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 6) 0rem #82FF00;
    
        
}
.largeImageTitle {
    font-size: 28rem;
    margin: 10rem 0 5rem 0;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}
.largeImage {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 1s ease;
}
.largeImage:hover {
    filter: grayscale(0%);
    transition: filter 1s ease;
}



.workListSplitGrid{
    display: grid;
    grid-template-columns: 30% 70%; 
    gap: 0rem;
    height: 600rem; /*static height*/
    padding:50rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 300rem;
}

.showSectionSplitGrid {
    overflow-y: auto;
}
.showSectionGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400rem, 1fr));/*infinite columns*/
    text-align: center;
    gap: 20rem;
}


/* Hide scrollbar but still scrollable */
.showSectionSplitGrid {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
}

.showSectionSplitGrid::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}


/*---------------------------------------------------------------------------------------------*/
/*workShowCase Styles */
/*---------------------------------------------------------------------------------------------*/
.workList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));/*infinite columns*/
    gap: 30rem;
    padding: 20rem;
    background-color:rgba(0, 0, 0, 0.3);
}
.showSection {
    text-align: center;
    margin-left:20rem;
    margin-right:100rem;
}


.briefBox {
    display: inline-block;
    width: 400rem;
    margin: 20rem;
    padding: 10rem;
    background-color: #5b5b5b;
    border-bottom: 2rem solid #82FF00;
    
    text-align: left;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}
.briefBox:hover {
    background-color: #82FF00;
    color:black;
    transform: scale(1.05);
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem black,
        0rem calc(var(--shadow-gap) * 4) 0rem black,
        0rem calc(var(--shadow-gap) * 6) 0rem black;
}



.workThumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 1s ease;
}
.workThumbnail:hover {
    filter: grayscale(0%);
    transition: filter 1s ease;
}
.workTitle {
    font-size: 24rem;
    margin: 10rem 0 5rem 0;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 4) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 6) 0rem #82FF00;
}

.workDescription{
    font-size: 16rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 4) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 6) 0rem #82FF00;
}


/*---------------------------------------------------------------------------------------------*/
/*navigation Styles */
/*---------------------------------------------------------------------------------------------*/
.navigation {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 
    "buttons imagedisplay";
    padding:100rem;
    gap:20rem;
    background: rgba(0, 0, 0, 0.5);
}



/*button Styles */

.navbutton {
    grid-area: buttons;
    margin:10rem;
    padding:0rem;
    background: rgba(0, 0, 0, 0);
    font-family: "Inter", sans-serif;
    color: #82FF00;
    font-size: 100rem;
    font-weight: 200;
    text-align: left;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 4) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 6) 0rem #82FF00;
    
    
    border: none;
    cursor: pointer;

    display: flex; 
    flex-direction: column; 
    gap:50rem;
    
    border-bottom: 5rem solid #82FF00;
}

.navbutton:hover {
    background-color: #82FF00;
    color:black;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem black,
        0rem calc(var(--shadow-gap) * 4) 0rem black,
        0rem calc(var(--shadow-gap) * 6) 0rem black;
    
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}

.imageDisplayGrid { 
    grid-area: imagedisplay; 
    
}
.imageDisplayGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持完整显示 */
    filter: grayscale(100%);
    transition: filter 1s ease;
    
}
.imageDisplayGrid img:hover {
    filter: grayscale(0%);
    transition: filter 1s ease;
}

/*---------------------------------------------------------------------------------------------*/
/* Contact Info Styles */
/*---------------------------------------------------------------------------------------------*/
.Contacts {
    font-size: 20rem;
    padding: 20rem;
    padding-bottom:100rem;
    background-color: #464646;
}
h2.ContactTitle {
    font-size: 30rem;
    margin: 5rem;
    margin-top: 20rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 4) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 6) 0rem #82FF00;
}
.ContactInfo {
    color: #82FF00;
    display: inline-block;/*horizontal layout*/
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-decoration: underline;
    margin: 20rem;
    margin-top: 40rem;
    padding:5rem;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 4) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 6) 0rem #82FF00;
    
}
.ContactInfo:hover {
    color: black;
    background-color: #82FF00;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem black,
        0rem calc(var(--shadow-gap) * 4) 0rem black,
        0rem calc(var(--shadow-gap) * 6) 0rem black;
    text-decoration: none;
}
/*a for anchor links*/
a{
    color: #82FF00;
    text-decoration: none;
}
a:hover {
    
    transition: color 0.3s ease, background-color 0.3s ease;
}


/*---------------------------------------------------------------------------------------------*/
/* Article Styles */
/*---------------------------------------------------------------------------------------------*/
.ArticleSection {
    padding: 50rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.ArticleContainer {
    padding:20rem;
    padding-left:50rem;
    padding-right:50rem;
    margin: 0 auto;
    text-align: left;
    background-color: #5b5b5b;
    text-shadow:
        0rem calc(var(--shadow-gap) * 2) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 4) 0rem #82FF00,
        0rem calc(var(--shadow-gap) * 6) 0rem #82FF00;
}

.ArticleTitle {
    font-size: 36rem;
    margin-bottom: 20rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 60rem;
}
.ArticleText{
    font-size:30rem;

    
}
.ArticleImage {
    width: 100%;
    height: auto;
    object-fit: contain;
    text-align: center;
    margin-top:20rem;
    
}


/* Mobile Quick Fixes, but need a better patch nexttime*/
@media (max-width: 1200px) {

    html {
        font-size: 5%; 
    }
    h1.FancyTitle {
        font-size: 150rem;
    }
    .topBar {
        flex-direction: column;
        
        padding: 2.5rem 5rem; flex-direction: row; /* 保持横向，但更紧凑 */ 
        justify-content: space-between;
    }

    .pageTitleText {
        font-size: 30rem;
        margin: 10rem;
        padding: 5rem;
        border-bottom-width: 3rem;
    }

    .homeButton {
        font-size: 30rem;
        padding: 5rem;
        margin: 10rem;
    }



    .workListSplitGrid {
        grid-template-columns: 1fr; 
        height: auto; 
        padding: 20rem;
    }

    .showSectionGrid {
        grid-template-columns: 1fr; 
    }

    
    
    .navigation {
        
        padding: 20rem;
    }

    .navbutton {
        font-size: 50rem;
        gap: 20rem;
    }

    

    .ArticleContainer {
        padding: 20rem;
    }

    .ArticleTitle {
        font-size: 40rem;
    }

    .ArticleText {
        font-size: 24rem;
    }

    /* 手机端隐藏大图区域 */
    .largeImageDisplayGrid,
    .largeImageBox,
    .largeImage {
        display: none !important;
}

}
