/*Setups*/
/*---------------------------------------------------------------------------------------------*/
html {
    font-size: 80%;
}


:root {
    --shadow-gap: 0.02em;
}
/*---------------------------------------------------------------------------------------------*/
/* TopBar Styles */
/*---------------------------------------------------------------------------------------------*/


.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px;
    
    z-index: 999;
    background-color: #464646;
}

.pageTitleText{
    background-color: rgba(0, 0, 0, 0);
    border:0px;
    border-bottom: 5px solid #82FF00;
    font-size: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color:#82FF00;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px #82FF00,
        0px calc(var(--shadow-gap) * 4) 0px #82FF00,
        0px calc(var(--shadow-gap) * 6) 0px #82FF00;
    margin:40px;
    margin-top:0px;
    margin-bottom:0px;
    padding:10px;
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}
.pageTitleText:hover {
    background-color: #82FF00;
    color:black;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px black,
        0px calc(var(--shadow-gap) * 4) 0px black,
        0px calc(var(--shadow-gap) * 6) 0px black;
    
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}

.homeButton{
    background-color: #82FF00;
    
    font-size: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color:black;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px black,
        0px calc(var(--shadow-gap) * 4) 0px black,
        0px calc(var(--shadow-gap) * 6) 0px black;
    margin:0px;
    padding:10px;
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}
.homeButton:hover {
    background-color: #ffffff;
    color:black;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px black,
        0px calc(var(--shadow-gap) * 4) 0px black,
        0px calc(var(--shadow-gap) * 6) 0px black;
    
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}


/*---------------------------------------------------------------------------------------------*/
/* Body Styles */
/*---------------------------------------------------------------------------------------------*/


body {
    background-color: #AAAAAA;
    background-image: url('');
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    color:#82FF00;
    margin: 0px;
    
    
    

}


/* background Image */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("assets/googiebuildingtexturedoutside1.jpg");
    transform: scaleX(-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    filter: grayscale(100%) blur(50px); /* grayscale and blurfilter */
    transition: filter 2s ease;
    
    z-index: -1; /* place behind all content */
}
body:hover::before { 
    filter: grayscale(100%) 
    blur(10px); 
    transition: filter 2s ease;
}



/*---------------------------------------------------------------------------------------------*/
/* Title Styles */
/*---------------------------------------------------------------------------------------------*/
.title { 
    margin-top: 150px; 
    
}
.normalTitleContainer{
    margin-top: 280px;
}
.normalTitle{
    color:#82FF00;
    font-size: 180px;
    padding:0px;
    margin:0px;
    margin-top:-30px;
    margin-bottom:30px;
    border:none;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 200;

    text-shadow:
        0px calc(var(--shadow-gap) * 1) 0px #82FF00,    
        0px calc(var(--shadow-gap) * 2) 0px #82FF00,
        0px calc(var(--shadow-gap) * 3) 0px #82FF00,
        0px calc(var(--shadow-gap) * 4) 0px #82FF00,
        0px calc(var(--shadow-gap) * 5) 0px #82FF00,
        0px calc(var(--shadow-gap) * 6) 0px #82FF00,
        0px calc(var(--shadow-gap) * 7) 0px #82FF00,
        0px calc(var(--shadow-gap) * 8) 0px #82FF00;
}


h1.FancyTitle {
    color:#82FF00;
    font-size: 320px;
    padding:0px;
    margin:0px;
    margin-top:-50px;
    
    border:none;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}


/*Fancy Title Effect*/
/*shifted shadow*/
h1.FancyTitle {
    

    text-shadow:
        
        0px calc(var(--shadow-gap) * 4) 0px #82FF00;
        /*add as many you want*/
        
        
}
h2.SubtitleText {
    font-size: 40px;
    
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-align: left;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px #82FF00,
        0px calc(var(--shadow-gap) * 4) 0px #82FF00,
        0px calc(var(--shadow-gap) * 6) 0px #82FF00,
        0px calc(var(--shadow-gap) * 8) 0px #82FF00;
    /*artistic*/
    margin:0px;
    margin-top:20px;
    padding:10px;
    padding-top:20px;
    background-color: #464646;
    border-bottom: 5px solid #82FF00
}
/*I do not know why h2 always overrides subtitle class so I had to put it here, solve it later*/
.subtitle {
    
}

/*---------------------------------------------------------------------------------------------*/
/*displaybox Styles */
/*---------------------------------------------------------------------------------------------*/
.displayBoxStripImageOnly {
    padding: 20px 0;
    padding-top:40px;
    padding-bottom:40px;
    display: flex;
    gap: 20px; /*space between images*/
    overflow-x: auto; 
    

    /*artistic*/
    background-color: #5b5b5b;

    /*fancy scroll*/
    overflow-x: auto; 
    white-space: nowrap; 
    scroll-behavior: smooth;
}

.displayBoxStripImageOnly img {
    height: 400px; /*restrict image height*/
    width: auto;  /*auto wid*/
    object-fit: cover; 
    filter: grayscale(100%);
    transition: filter 1s ease;
}
.displayBoxStripImageOnly img:hover {
    filter: grayscale(0%);
    transition: filter 1s ease;
}



/*silly customization for scrollbar slider*/
.displayBoxStripImageOnly::-webkit-scrollbar {
    height: 10px;
    
}

.displayBoxStripImageOnly::-webkit-scrollbar-thumb {
    background: #82FF00;
    border-radius: 6px;
}

.displayBoxStripImageOnly::-webkit-scrollbar-track {
    background: #333;
    padding-bottom: 10px;
}

/*---------------------------------------------------------------------------------------------*/
/*large Image Display Box*/
.largeImageDisplayGrid {
    display: flex;
    align-items: flex-start;
}

.largeImageBox {
    padding: 20px;
    background-color: #5b5b5b;
    margin: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px #82FF00,
        0px calc(var(--shadow-gap) * 4) 0px #82FF00,
        0px calc(var(--shadow-gap) * 6) 0px #82FF00;
    
        
}
.largeImageTitle {
    font-size: 28px;
    margin: 10px 0 5px 0;
    
}
.largeImage {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 1s ease;
}
.largeImage:hover {
    filter: grayscale(0%);
    transition: filter 1s ease;
}



.workListSplitGrid{
    display: grid;
    grid-template-columns: 30% 70%; 
    gap: 0px;
    height: 600px; /*static height*/
    padding:50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 300px;
}

.showSectionSplitGrid {
    overflow-y: auto;
}
.showSectionGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));/*infinite columns*/
    text-align: center;
    gap: 20px;
}


/* Hide scrollbar but still scrollable */
.showSectionSplitGrid {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
}

.showSectionSplitGrid::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}


/*---------------------------------------------------------------------------------------------*/
/*workShowCase Styles */
/*---------------------------------------------------------------------------------------------*/
.workList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));/*infinite columns*/
    gap: 30px;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.3);
}
.showSection {
    text-align: center;
    margin-left:20px;
    margin-right:100px;
}


.briefBox {
    display: inline-block;
    width: 400px;
    margin: 20px;
    padding: 10px;
    background-color: #5b5b5b;
    border-bottom: 2px solid #82FF00;
    
    text-align: left;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}
.briefBox:hover {
    background-color: #82FF00;
    color:black;
    transform: scale(1.05);
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px black,
        0px calc(var(--shadow-gap) * 4) 0px black,
        0px calc(var(--shadow-gap) * 6) 0px black;
}



.workThumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 1s ease;
}
.workThumbnail:hover {
    filter: grayscale(0%);
    transition: filter 1s ease;
}
.workTitle {
    font-size: 24px;
    margin: 10px 0 5px 0;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px #82FF00,
        0px calc(var(--shadow-gap) * 4) 0px #82FF00,
        0px calc(var(--shadow-gap) * 6) 0px #82FF00;
}

.workDescription{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px #82FF00,
        0px calc(var(--shadow-gap) * 4) 0px #82FF00,
        0px calc(var(--shadow-gap) * 6) 0px #82FF00;
}


/*---------------------------------------------------------------------------------------------*/
/*navigation Styles */
/*---------------------------------------------------------------------------------------------*/
.navigation {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 
    "buttons imagedisplay";
    padding:100px;
    gap:20px;
    background: rgba(0, 0, 0, 0.5);
}



/*button Styles */

.navbutton {
    grid-area: buttons;
    margin:10px;
    padding:0px;
    background: rgba(0, 0, 0, 0);
    font-family: "Inter", sans-serif;
    color: #82FF00;
    font-size: 100px;
    font-weight: 200;
    text-align: left;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px #82FF00,
        0px calc(var(--shadow-gap) * 4) 0px #82FF00,
        0px calc(var(--shadow-gap) * 6) 0px #82FF00;
    
    
    border: none;
    cursor: pointer;

    display: flex; 
    flex-direction: column; 
    gap:50px;
    
    border-bottom: 5px solid #82FF00;
}

.navbutton:hover {
    background-color: #82FF00;
    color:black;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px black,
        0px calc(var(--shadow-gap) * 4) 0px black,
        0px calc(var(--shadow-gap) * 6) 0px black;
    
    transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}

.imageDisplayGrid { 
    grid-area: imagedisplay; 
    
}
.imageDisplayGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持完整显示 */
    filter: grayscale(100%);
    transition: filter 1s ease;
    
}
.imageDisplayGrid img:hover {
    filter: grayscale(0%);
    transition: filter 1s ease;
}

/*---------------------------------------------------------------------------------------------*/
/* Contact Info Styles */
/*---------------------------------------------------------------------------------------------*/
.Contacts {
    font-size: 20px;
    padding: 20px;
    padding-bottom:100px;
    background-color: #464646;
}
h2.ContactTitle {
    font-size: 30px;
    margin: 5px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px #82FF00,
        0px calc(var(--shadow-gap) * 4) 0px #82FF00,
        0px calc(var(--shadow-gap) * 6) 0px #82FF00;
}
.ContactInfo {
    color: #82FF00;
    display: inline-block;/*horizontal layout*/
    font-family: "Inter", sans-serif;
    font-weight: 200;
    text-decoration: underline;
    margin: 20px;
    margin-top: 40px;
    padding:5px;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px #82FF00,
        0px calc(var(--shadow-gap) * 4) 0px #82FF00,
        0px calc(var(--shadow-gap) * 6) 0px #82FF00;
    
}
.ContactInfo:hover {
    color: black;
    background-color: #82FF00;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px black,
        0px calc(var(--shadow-gap) * 4) 0px black,
        0px calc(var(--shadow-gap) * 6) 0px black;
    text-decoration: none;
}
/*a for anchor links*/
a{
    color: #82FF00;
    text-decoration: none;
}
a:hover {
    
    transition: color 0.3s ease, background-color 0.3s ease;
}


/*---------------------------------------------------------------------------------------------*/
/* Article Styles */
/*---------------------------------------------------------------------------------------------*/
.ArticleSection {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}
.ArticleContainer {
    padding:20px;
    padding-left:50px;
    padding-right:50px;
    margin: 0 auto;
    text-align: left;
    background-color: #5b5b5b;
    text-shadow:
        0px calc(var(--shadow-gap) * 2) 0px #82FF00,
        0px calc(var(--shadow-gap) * 4) 0px #82FF00,
        0px calc(var(--shadow-gap) * 6) 0px #82FF00;
}

.ArticleTitle {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 60px;
}
.ArticleText{
    font-size:30px;

    
}
.ArticleImage {
    width: 100%;
    height: auto;
    object-fit: contain;
    text-align: center;
    margin-top:20px;
    
}